# .devcontainer/compose.yml
services:
  python:
    build:
      context: .
      dockerfile: ./Dockerfile
    tty: true
    volumes:
      - type: bind
        source: ../
        target: /home/vscode/python
    restart: unless-stopped
    depends_on:
      ollama:
        condition: service_healthy
    environment:
      - OLLAMA_HOST=http://ollama:11434
    # ports:
    #   - "8000:8000"  # FastAPI等のWebアプリ用

  ollama:
    image: ollama/ollama
    volumes:
      - ollama_storage:/root/.ollama
    healthcheck:
      test: ["CMD", "ollama", "ps"]
      interval: 5s
      timeout: 10s
      retries: 3

volumes:
  ollama_storage:
